In [1]:
# === Cell A: setup (SQLite engine + load data) ===
# Runs anywhere (no MySQL needed). Switch to MySQL later by replacing the engine if you want.
ASOF = "2025-08-01"   # snapshot date

import pandas as pd, numpy as np
from pathlib import Path
from sqlalchemy import create_engine

# Use a local SQLite DB file so reviewers can run with zero setup
eng = create_engine("sqlite:///energy_risk.sqlite", future=True)

ROOT = Path(".").resolve()
DATA = ROOT / "data"

# --- helpers ---
def table_empty(engine, name: str) -> bool:
    try:
        n = pd.read_sql(f"SELECT COUNT(*) AS n FROM {name}", engine)["n"].iloc[0]
        return int(n) == 0
    except Exception:
        return True

def load_csv_to_table(csv_path: Path, table: str) -> int:
    df = pd.read_csv(csv_path)
    # parse common date-like cols if present
    for col in ["trade_date","delivery_start","delivery_end","px_date","fx_date"]:
        if col in df.columns:
            df[col] = pd.to_datetime(df[col], errors="coerce")
    df.to_sql(table, eng, if_exists="replace", index=False)
    return len(df)

# 1) load market data CSVs from repo (curve_prices + fx_rates)
loaded = {}
for csv_name, table in [("curve_prices.csv","curve_prices"), ("fx_rates.csv","fx_rates")]:
    if table_empty(eng, table):
        src = DATA / csv_name
        if not src.exists():
            raise FileNotFoundError(f"Missing {src}. Make sure your repo has data/{csv_name}.")
        n = load_csv_to_table(src, table)
        loaded[table] = n

# 2) generate ~30 realistic trades (BUY/SELL, multiple hubs & books)
np.random.seed(42)  # reproducible
hubs  = ["CH", "DE", "FR", "NL"]
books = ["PROP-CH", "PROP-DE", "PROP-FR"]
sides = ["BUY", "SELL"]

N = 30
demo_trades = pd.DataFrame({
    "trade_id": range(1001, 1001 + N),
    "book": np.random.choice(books, N),
    "hub": np.random.choice(hubs, N),
    "buy_sell": np.random.choice(sides, N),
    "volume_mwh": np.random.randint(100, 2000, N),
    "price": np.random.uniform(40, 80, N).round(2),
    "delivery_start": pd.to_datetime("2025-07-01") + pd.to_timedelta(np.random.randint(0, 30, N), unit="D"),
    "delivery_end":   pd.to_datetime("2025-08-01") + pd.to_timedelta(np.random.randint(15, 60, N), unit="D"),
    "counterparty": np.random.choice(["UtilityX","TraderY","DemoCo","EnergyFund"], N)
})
demo_trades.to_sql("trades", eng, if_exists="replace", index=False)

print("✔ Setup complete.", "Loaded:", loaded if loaded else "tables already present.")
print("trades sample:"); display(pd.read_sql("SELECT * FROM trades LIMIT 5", eng))
print("curve_prices sample:"); display(pd.read_sql("SELECT * FROM curve_prices LIMIT 5", eng))
print("fx_rates sample:"); display(pd.read_sql("SELECT * FROM fx_rates LIMIT 3", eng))

✔ Setup complete. Loaded: tables already present.
trades sample:

,trade_id,book,hub,buy_sell,volume_mwh,price,delivery_start,delivery_end,counterparty
0,1001,PROP-FR,DE,BUY,829,72.09,2025-07-15 00:00:00.000000,2025-08-21 00:00:00.000000,EnergyFund
1,1002,PROP-CH,NL,SELL,1679,42.98,2025-07-26 00:00:00.000000,2025-09-12 00:00:00.000000,UtilityX
2,1003,PROP-FR,NL,BUY,261,79.48,2025-07-10 00:00:00.000000,2025-09-12 00:00:00.000000,EnergyFund
3,1004,PROP-FR,NL,SELL,301,70.89,2025-07-28 00:00:00.000000,2025-09-28 00:00:00.000000,UtilityX
4,1005,PROP-CH,NL,SELL,1095,47.95,2025-07-13 00:00:00.000000,2025-09-28 00:00:00.000000,TraderY

curve_prices sample:

      px_date hub product    tenor  price currency
0  2025-08-01  CH    BASE  2025-09   61.0      EUR

fx_rates sample:

      fx_date  ccy  rate_to_eur
0  2025-08-01  EUR          1.0

In [2]:
# === Cell 2: Compute positions snapshot (ASOF) ===
import pandas as pd, numpy as np

ASOF_TS = pd.to_datetime(ASOF)

trades = pd.read_sql("SELECT * FROM trades", eng)

# pick a hub-like column automatically
hub_col = None
for candidate in ["hub", "commodity", "book"]:
    if candidate in trades.columns:
        hub_col = candidate
        break
if hub_col is None:
    raise RuntimeError("No suitable hub/commodity/book column found in trades table.")

# parse dates if present
for c in ["delivery_start","delivery_end"]:
    if c in trades.columns:
        trades[c] = pd.to_datetime(trades[c], errors="coerce")

# filter to trades active on ASOF (if delivery dates exist)
active = trades.copy()
if {"delivery_start","delivery_end"}.issubset(trades.columns):
    active = trades[(trades["delivery_start"] <= ASOF_TS) & (trades["delivery_end"] >= ASOF_TS)].copy()

# add product & tenor
active["product"] = "BASE"
active["tenor"] = (pd.to_datetime(active["delivery_start"], errors="coerce")
                   .dt.strftime("%Y-%m") if "delivery_start" in active.columns else ASOF[:7])

# signed volume (BUY = +, SELL = -); fall back safely if fields missing
if {"buy_sell","volume_mwh"}.issubset(active.columns):
    active["signed_vol"] = np.where(active["buy_sell"].str.upper().eq("BUY"),
                                    active["volume_mwh"], -active["volume_mwh"])
elif "volume_mwh" in active.columns:
    active["signed_vol"] = active["volume_mwh"]
else:
    active["signed_vol"] = 1.0

pos = (active.groupby([hub_col,"product","tenor"], dropna=False, as_index=False)
             .agg(volume_mwh=("signed_vol","sum"))
             .rename(columns={hub_col:"hub"}))

print("Positions as of", ASOF)
display(pos.head(20))

Positions as of 2025-08-01

  hub product    tenor  volume_mwh
0  CH    BASE  2025-07       -2865
1  DE    BASE  2025-07        1505
2  FR    BASE  2025-07       -1063
3  NL    BASE  2025-07       -6715

In [3]:
# === Cell 3: Returns → P&L → VaR (defensive) ===
import pandas as pd, numpy as np
import matplotlib.pyplot as plt

# load curves and compute returns (uses pandas so it works on SQLite)
curves = pd.read_sql("SELECT * FROM curve_prices ORDER BY hub, product, tenor, px_date", eng)
if curves.empty:
    raise RuntimeError("curve_prices is empty. Ensure data/curve_prices.csv exists and Cell 1 ran.")
curves["px_date"] = pd.to_datetime(curves["px_date"], errors="coerce")
curves["prev_price"] = curves.groupby(["hub","product","tenor"])["price"].shift(1)
curves["ret"] = curves["price"] / curves["prev_price"] - 1
curves = curves.dropna(subset=["ret"]).reset_index(drop=True)

# latest marks to scale returns into EUR P&L
latest = (pd.read_sql("SELECT * FROM curve_prices", eng)
            .assign(px_date=lambda d: pd.to_datetime(d["px_date"], errors="coerce"))
            .sort_values("px_date")
            .groupby(["hub","product","tenor"], as_index=False)
            .tail(1)[["hub","product","tenor","price"]]
            .rename(columns={"price":"mark"}))

# join returns to positions
rf = (curves.merge(pos, on=["hub","product","tenor"], how="inner")
             .merge(latest, on=["hub","product","tenor"], how="left"))
if rf.empty:
    print("⚠️ No overlap between positions and curve history — check hubs/products/tenors.")
rf["pnl"] = rf["volume_mwh"] * rf["mark"] * rf["ret"]

# portfolio P&L time series
port = rf.groupby("px_date", as_index=False)["pnl"].sum().rename(columns={"pnl":"port_pnl"})

# VaR calc (historical + parametric)
if len(port) > 0:
    CL = 0.99
    hist_var = -np.quantile(port["port_pnl"].values, 1.0 - CL)
    mu, sig = port["port_pnl"].mean(), port["port_pnl"].std(ddof=1)
    try:
        from scipy.stats import norm
        para_var = -(mu + sig * norm.ppf(1.0 - CL))
    except Exception:
        para_var = float("nan")
    print(f"Historical VaR {CL:.0%}: {hist_var:,.2f} EUR")
    print(f"Parametric  VaR {CL:.0%}: {para_var:,.2f} EUR")
else:
    print("⚠️ No P&L series; VaR not computed.")

# daily price P&L (prev day → ASOF)
ASOF_TS = pd.to_datetime(ASOF)
d_prev = ASOF_TS - pd.Timedelta(days=1)
full_curves = pd.read_sql("SELECT * FROM curve_prices", eng)
full_curves["px_date"] = pd.to_datetime(full_curves["px_date"], errors="coerce")

mt = (full_curves[full_curves["px_date"].dt.date == ASOF_TS.date()]
      [["hub","product","tenor","price"]].rename(columns={"price":"m_t"}))
mp = (full_curves[full_curves["px_date"].dt.date == d_prev.date()]
      [["hub","product","tenor","price"]].rename(columns={"price":"m_p"}))

pnl_day = (pos.merge(mt, on=["hub","product","tenor"], how="left")
              .merge(mp, on=["hub","product","tenor"], how="left"))
pnl_day["m_t"] = pnl_day["m_t"].fillna(pnl_day["m_p"])  # if today missing, keep yesterday
pnl_day["m_p"] = pnl_day["m_p"].fillna(pnl_day["m_t"])
pnl_day["price_pnl"] = pnl_day["volume_mwh"] * (pnl_day["m_t"] - pnl_day["m_p"])
daily_total = float(pnl_day["price_pnl"].fillna(0).sum())
print(f"Daily price P&L ({d_prev.date()} → {ASOF_TS.date()}): {daily_total:,.2f} EUR")

# charts (plain matplotlib, no custom styles/colors)
if len(port) > 0:
    plt.figure()
    plt.plot(port["px_date"], port["port_pnl"])
    plt.title("Portfolio Daily P&L")
    plt.xlabel("Date"); plt.ylabel("EUR"); plt.show()

    plt.figure()
    plt.hist(port["port_pnl"], bins=20)
    plt.title("P&L Distribution")
    plt.xlabel("EUR"); plt.ylabel("Frequency"); plt.show()

display(port.tail())
display(pnl_day.fillna(0).head())

⚠️ No overlap between positions and curve history — check hubs/products/tenors.
⚠️ No P&L series; VaR not computed.
Daily price P&L (2025-07-31 → 2025-08-01): 0.00 EUR

Empty DataFrame
Columns: [px_date, port_pnl]
Index: []

  hub product    tenor  volume_mwh  m_t  m_p  price_pnl
0  CH    BASE  2025-07       -2865  0.0  0.0        0.0
1  DE    BASE  2025-07        1505  0.0  0.0        0.0
2  FR    BASE  2025-07       -1063  0.0  0.0        0.0
3  NL    BASE  2025-07       -6715  0.0  0.0        0.0

In [4]:
# Replace the SQLite engine line with this and rerun Cell 1:
from sqlalchemy import create_engine
eng = create_engine("mysql+pymysql://root:root@localhost:3306/energy_risk", future=True)